.SwitchButtonWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.SwitchButtonTitle {
    text-align: center;
    font-size: 18px;
    color: #636363; 
    font-family: 'rubik-medium';
    text-transform: uppercase;
}

.SwitchButtonStatusButton {
    width: 50px;
}
