.DropdownSelect {
    position: relative;
}

.DropdownSelectArrow {
    position: absolute;
    width: 15px;
    height: 9px;
    right: 16px;
    top: 20px;
}

.DropDownPickerContainer {
    height: 50px;
    display: flex;
    justify-content: center;
}

.DropdownSelectPicker {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-color: orange;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.DropDownPickerSelectText {
    font-size: 20px;
    color: #000;
}
