.DropdownSelect {
    position: relative;
}

.DropdownSelectPicker {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: #D5D5D5;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.DropdownSelectArrow {
    position: absolute;
    right: 20px;
}

.DropDownPickerSelectText {
    font-size: 18px;
    color: #636363;
    font-family: 'rubik-medium';
    text-transform: uppercase;
}
