.LedOptions {
  padding: 20px;
  margin-bottom: 40px;
}

.LedOptionsColorPickWrapper {
  display: flex;
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
}

.LedOptionsRangePickWrapper {
  display: flex;
  width: 100%
}

.LedOptionsSwitchWrapper {
  margin-bottom: 16px;
}

.LedOptionsButtonWrapper {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
