.LedOptions {
  padding: 0 20px;
  display: flex;
  height: 100%;
  flex: 1;
}

.LedOptionsColorPickWrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.LedOptionsRangePickerWrapper {
  display: flex;
  width: 100%
}

.LedOptionsSwitchWrapper {
  margin-bottom: 16px;
}

.LedOptionsButtonWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}
