.ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ButtonContainerPrimary {
    background-color: #FFB422;
    border-radius: 8px;
    height: 100%;
}

.ButtonContainerSecondary {
    background-color: #D5D5D5;
    border-radius: 8px;
    height: 100%;
}

.ButtonContainerPadding {
    height: 50px;
}

.ButtonContainerDisabled {
    pointer-events: none;
    opacity: 0.5;
}

.ButtonText {
    font-size: 18px;
    color: white;
    font-family: 'rubik-medium';
    text-transform: uppercase;
}
