.ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: white;
}

.ButtonContainerPrimary {
    background-color: #F76B1C;
}

.ButtonContainerDisabled {
    pointer-events: none;
}

.ButtonText {
    font-size: 16px;
    font-weight: bold;
    color: #F76B1C;
}

.ButtonTextPrimary {
    color: white;
}

.ButtonTextDisabled {
    color: gray;
    opacity: 0.5;
}
