.BackButton {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.BackButtonText {
    font-size: 18;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.BackButtonBg {
    width: 9px;
    height: 16px;
}
