.DeviceView {
    position: relative;
    display: flex;
    flex-direction: column;
}

.DeviceViewDropdownWrapper {
    position: relative;
    z-index: 10;
}

.DeviceViewLedOptionsWrapper {
    z-index: -10;
}

.exitContainer {
    padding: 15px 10px;
}
