.ColorPick {
  height: 240px;
}

.ColorPickTitle {
  font-size: 18px;
  color: #636363; 
  font-family: 'rubik-medium';
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ColorPickModule {
  width: 100%;
  height: 100%;
}
